<h1 class="text-center mt-4">Create a new article</h1>
<%= link_to 'Make It Private', new_private_article_path, class: "btn btn-outline-dark btn-lg ml-4 position-fixed" if logged_in? %>
<%= render 'form' %>
 