<div class="container"id="jumbo">
  <div class="jumbotron text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <h4 class="text-white font-italic font-weight-lighter">Welcome to your articles' world</h4>
    <hr class="my-4">
    <a class="btn btn-success btn-lg mb-5" href="#" role="button">Sign up!</a>
  </div>
</div>
 

