
  <div id="page-content">
    <div class="container"id="jumbo">
      <div class="jumbotron text-black">
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead">Welcome to your articles' world</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
      </div>
    </div>
  </div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Ali Tantawy </small>
  </div>
</footer>